:root {
  --snowy-mountain: #f4f2ef;
  --white: white;
  --black: black;
  --gray: #a6a6a6;
  --black-20: rgba(0, 0, 0, .2);
  --blue: #3154eb;
  --desert: #ede7df;
  --taupe-gray: #878787;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--snowy-mountain);
  color: #000;
  font-family: ALS Hauss, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem;
}

h1 {
  letter-spacing: -.06em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 8.4375rem;
  font-weight: 700;
  line-height: 6.75rem;
}

h2 {
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 3.25rem;
}

h3 {
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.text-style-32 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}

.ui-kit-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  align-items: flex-start;
  padding: 6.25rem 1.25rem;
  display: flex;
}

.text-style-35 {
  letter-spacing: -.04em;
  font-size: 2.1875rem;
  font-weight: 500;
  line-height: 2.1875rem;
}

.text-style-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem;
}

.text-style-21 {
  letter-spacing: -.041875rem;
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 1.44375rem;
}

.button {
  color: var(--white);
  letter-spacing: -.084375rem;
  background-image: linear-gradient(#4164fd, #1c3ed2);
  border-radius: 16.5625rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
  padding: 4.1875rem 8.4375rem;
  font-size: 3.25rem;
  font-weight: 500;
  line-height: 3.75rem;
  text-decoration: none;
  transition: opacity .3s;
  display: flex;
}

.button:hover {
  opacity: .8;
}

.button.is-small {
  max-width: 6.25rem;
  max-height: 1.6875rem;
  padding: .75rem 1.5rem;
  font-size: .875rem;
  line-height: 1rem;
}

.black-color {
  background-color: var(--black);
  width: 6.25rem;
  height: 6.25rem;
}

.gray-color {
  background-color: var(--gray);
  width: 6.25rem;
  height: 6.25rem;
}

.black-color-20 {
  background-color: var(--black-20);
  width: 6.25rem;
  height: 6.25rem;
}

.blue-color {
  background-color: var(--blue);
  width: 6.25rem;
  height: 6.25rem;
}

.desert-color {
  background-color: var(--desert);
  width: 6.25rem;
  height: 6.25rem;
}

.snowy-mountain-color {
  background-color: var(--snowy-mountain);
  width: 6.25rem;
  height: 6.25rem;
}

.colors {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.taupe-gray-color {
  background-color: var(--taupe-gray);
  width: 6.25rem;
  height: 6.25rem;
}

.container {
  max-width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.nav {
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .5);
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.875rem;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_logo-link {
  z-index: 3;
  width: 5.1875rem;
  height: 1.875rem;
  position: fixed;
  top: .75rem;
  bottom: auto;
  left: 1.875rem;
  right: auto;
}

.nav_logo-link.is-consultation {
  position: absolute;
}

.hero_top10-link {
  width: 10.875rem;
  height: 5.5625rem;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 1.875rem;
}

.page-wrapper {
  overflow: hidden;
}

.page-wrapper.is-consultation {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: url('../images/bg-2_1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  display: flex;
  overflow: hidden;
}

.section_hero {
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 1.25rem 11.25rem;
}

.hero_container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero_text-white {
  color: var(--white);
  text-align: center;
}

.hero_text-white.text-style-35 {
  margin-bottom: 0;
}

.hero_text-white60 {
  color: var(--white);
  text-align: center;
}

.hero_text-white60.text-style-35 {
  color: rgba(255, 255, 255, .6);
  margin-bottom: 1.5rem;
}

.hero_text-white-3 {
  color: var(--white);
  text-align: center;
}

.hero_text-white-3.text-style-35 {
  margin-bottom: 5rem;
}

.hero_button.button {
  margin-bottom: 1.875rem;
}

.hero_button.button.is-small {
  letter-spacing: 0;
  background-image: linear-gradient(#1c3ed2 100%, #fff), linear-gradient(#4164fd 100%, #fff);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: .875rem;
  line-height: 1rem;
  text-decoration: none;
  display: flex;
}

.section_intensive {
  margin-bottom: 9.875rem;
}

.intensive_h2 {
  margin-bottom: 1.3125rem;
}

.intensive_columns {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.intensive_column {
  max-width: 18.625rem;
}

.intensive_column-image {
  width: 11.875rem;
  height: 11.875rem;
}

.intensive_column-h3 {
  margin-bottom: .75rem;
}

.intensive_column-text {
  color: var(--gray);
}

.hero_background-block {
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hero_background-image {
  width: 100%;
}

.section_about {
  margin-bottom: 10.1875rem;
}

.about_text-top.text-style-35 {
  margin-bottom: 1.875rem;
}

.about_h2 {
  letter-spacing: -.06em;
  margin-bottom: 3.125rem;
  font-size: 5.625rem;
  line-height: 4.5rem;
}

.about_text-bottom.text-style-35 {
  max-width: 42rem;
  margin-bottom: 1.875rem;
}

.about_span-text {
  vertical-align: baseline;
  background-image: url('../images/orange-underline.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  flex-flow: column;
  padding-bottom: 1rem;
  display: inline-block;
  position: relative;
}

.div-block-3 {
  position: relative;
}

.section_find-out {
  margin-bottom: 9.25rem;
}

.find-out_h2 {
  margin-bottom: 3.75rem;
}

.find-out_grid {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template: "Area ."
                 "Area ."
                 "Area-2 Area-2"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.find-out_grid-big-vertical {
  background-color: var(--white);
  border-radius: 1.875rem;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: flex;
}

.find-out_h3 {
  letter-spacing: -.06em;
  margin-bottom: .75rem;
  font-size: 2.5rem;
  line-height: 2.0625rem;
}

.find-out_text {
  color: var(--gray);
}

.find-out_image {
  object-fit: cover;
}

.find_out-grid-small {
  background-color: var(--white);
  border-radius: 1.875rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 21.875rem;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: flex;
}

.find-out_grid-big-horizontal {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--white);
  border-radius: 1.875rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  min-height: 21.875rem;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: grid;
}

.find-out_image-wrapper {
  display: none;
}

.section_after {
  margin-bottom: 12.375rem;
}

.after_h2 {
  text-align: center;
  margin-bottom: 3.75rem;
}

.after_text.text-style-32 {
  text-align: center;
  margin-bottom: 1.4375rem;
}

.section_created {
  margin-bottom: 6.75rem;
}

.created_container.container {
  margin-bottom: 2.5rem;
}

.created_h2 {
  max-width: 46.375rem;
  margin-bottom: 2.0625rem;
  font-size: 5.625rem;
  line-height: 4.5rem;
}

.created_text-wrapper {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 44.5rem;
}

.created_icon {
  width: 3.28125rem;
  height: 3.28125rem;
  margin-right: .5625rem;
}

.created_swiper.swiper-1 {
  flex-flow: column;
  width: 100%;
  overflow: hidden;
}

.created_swiper-wrapper {
  display: flex;
}

.created_swiper-wrapper.swiper-wrapper {
  z-index: 1;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  transition: transform .2s;
  display: flex;
}

.created_swiper-slide.swiper-slide {
  flex-flow: column;
  flex: none;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 13rem;
  display: flex;
}

.created_swiper-image {
  border-radius: 1.25rem;
  min-width: 13rem;
  min-height: 28.125rem;
  margin-bottom: .625rem;
  display: block;
}

.created_swiper-position {
  margin-bottom: .3125rem;
  padding-right: .3125rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125rem;
}

.created_swiper-company {
  grid-column-gap: .1875rem;
  grid-row-gap: .1875rem;
  justify-content: flex-start;
  align-items: center;
  max-width: 10.625rem;
  display: flex;
}

.created_swiper-company-logo {
  object-fit: cover;
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
}

.created_swiper-company-name {
  color: var(--gray);
  margin-bottom: -.1875rem;
}

.created_icon-and-text {
  justify-content: flex-start;
  align-items: center;
  margin-right: .5625rem;
  display: flex;
}

.created_companies {
  flex-flow: wrap;
  margin-bottom: 2.5rem;
  display: flex;
}

.created_swiper-buttons {
  grid-column-gap: .375rem;
  grid-row-gap: .375rem;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 2.5rem;
  display: flex;
}

.created_button-next {
  width: 2.5rem;
  height: 2.5rem;
}

.created_button-prev {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(180deg);
}

.section_avdeev {
  margin-bottom: 27.8125rem;
}

.avdeev_container.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: stretch;
  display: grid;
}

.avdeev_left-column {
  z-index: 2;
  position: relative;
}

.avdeev_h2-span {
  color: var(--black-20);
}

.avdeev_h2 {
  min-width: 31.25rem;
  margin-bottom: 1rem;
  font-size: 2.375rem;
  line-height: 2.125rem;
}

.avdeev_text {
  color: var(--taupe-gray);
}

.avdeev_photo {
  width: 100%;
  max-width: 100%;
  transform: scale(1.2);
}

.created_button-icon {
  overflow: visible;
}

.section_calendar {
  margin-bottom: 2.5rem;
}

.section_calendar:focus {
  outline-offset: 0px;
  outline: 3px #000;
}

.calendar_container.container {
  flex-flow: column;
  align-items: center;
}

.calendar_image {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(0, -50%);
}

.calendar_h2 {
  z-index: 1;
  text-align: center;
  letter-spacing: -.06em;
  margin-bottom: 1.25rem;
  font-size: 11.25rem;
  line-height: 9.2rem;
  position: relative;
}

.calendar_h2-span {
  color: var(--blue);
  margin-top: -.875rem;
  display: block;
}

.calendar_text {
  text-align: center;
}

.calendar_text.text-style-32 {
  color: rgba(0, 0, 0, .55);
  letter-spacing: -.04em;
  margin-bottom: 4.375rem;
}

.calendar_button.button.w--current {
  box-shadow: none;
}

.calendar_content {
  background-color: var(--desert);
  border-radius: 2.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24.25rem 1.25rem 7.6875rem;
  display: flex;
  position: relative;
}

.footer_container.container {
  padding-bottom: 2.6875rem;
}

.footer_logo-link {
  color: var(--gray);
  letter-spacing: -.259375rem;
  margin-bottom: 1.25rem;
  font-size: 3.1875rem;
  font-weight: 500;
  line-height: 2.5625rem;
  text-decoration: none;
}

.footer_links {
  grid-column-gap: 1.5625rem;
  grid-row-gap: 1.5625rem;
  flex-flow: wrap;
  display: flex;
}

.footer_link {
  color: #d3d3d3;
  font-size: .875rem;
  line-height: 1rem;
  text-decoration: none;
  transition: all .2s;
}

.footer_link:hover {
  color: var(--black);
  text-decoration: underline;
}

.nav_text-and-button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.nav_text {
  margin-bottom: -.3125rem;
  font-size: .875rem;
  line-height: 1rem;
}

.nav-wrapper {
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.875rem;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.hero_h1-wrapper {
  color: var(--white);
  text-align: center;
  letter-spacing: -.06em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4.375rem;
  font-size: 8.4375rem;
  font-weight: 700;
  line-height: 6.75rem;
  display: flex;
}

.hero_h1-second-line {
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

.hero_h1-third-line {
  transform: translate(0, -15%);
}

.hero_h1-image {
  z-index: 1;
  width: 8%;
  position: relative;
  transform: translate(10%, 5%)scale(3);
}

.form-wrapper {
  background-color: var(--white);
  border-radius: 3.125rem;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  max-width: 28.125rem;
  min-height: 21.5rem;
  margin-bottom: 0;
  padding: 1.875rem;
  display: flex;
  position: relative;
}

.form-wrapper.is-consultation {
  justify-content: center;
  align-items: stretch;
  min-height: 32.5rem;
}

.form_title {
  text-align: left;
  letter-spacing: -.05em;
  margin-bottom: .75rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.15625rem;
}

.form_description {
  color: var(--taupe-gray);
  text-align: left;
}

.form_button.button {
  color: var(--white);
  letter-spacing: -.04em;
  width: 100%;
  margin-top: 1.375rem;
  margin-bottom: 1rem;
  padding: 1.875rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  display: block;
}

.form_button.button.is-black {
  background-color: var(--black);
  background-image: none;
}

.form_field {
  color: #000;
  background-color: #efefef;
  border: 1px #000;
  border-radius: 1rem;
  width: 100%;
  min-height: 4.375rem;
  max-height: 100%;
  margin-bottom: .5rem;
  padding: 1.5rem 1.25rem;
  font-family: ALS Hauss, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.form_field::placeholder {
  color: var(--taupe-gray);
  letter-spacing: -.01em;
  font-size: 1.375rem;
  line-height: 2rem;
}

.form_field.is-last {
  margin-bottom: 0;
}

.form_agreement {
  color: var(--taupe-gray);
  text-align: center;
  margin-bottom: 0;
  font-size: .875rem;
  line-height: .875rem;
}

.success_wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.success-message {
  z-index: 2;
  background-color: var(--white);
  border-radius: 3.125rem;
  width: 28.125rem;
  max-width: 100%;
  height: 100%;
  min-height: 21.5rem;
  padding: 1.875rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.success-message.is-consultation {
  outline-offset: 0px;
  outline: 3px #000;
  height: auto;
  min-height: 0;
  max-height: 100%;
}

.form_link-telegram.button {
  background-color: #e5e5e5;
  background-image: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 24.375rem;
  max-height: 5.625rem;
  margin-bottom: 0;
  padding: 1.6875rem 1rem;
  text-decoration: none;
  display: flex;
}

.form_telegram-text {
  color: var(--black);
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
}

.form_telegram-icon {
  width: 2.25rem;
  height: 2.25rem;
  display: block;
}

.form_channel-telegram {
  grid-column-gap: .4375rem;
  grid-row-gap: .4375rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-block-2 {
  text-align: center;
  border-radius: .625rem;
  font-size: 1rem;
  font-weight: 500;
}

.error-message {
  border-radius: .625rem;
}

.modal {
  z-index: 999;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-background {
  background-color: rgba(15, 17, 21, .7);
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.modal_container {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: absolute;
}

.modal_icon-close {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: block;
  position: absolute;
  top: -3rem;
  bottom: auto;
  left: auto;
  right: -3rem;
}

.hero_text-icon {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  color: var(--white);
  display: flex;
}

.hero_text-icon.text-style-21 {
  flex-flow: column;
}

.hero_text-bottom.text-style-21 {
  text-align: center;
  margin-top: -.3125rem;
}

.hero_little-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  display: block;
}

.hero_text-icon-1 {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form_form {
  width: 100%;
  margin-bottom: 0;
}

.after_video-embed {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.after_video-container {
  aspect-ratio: 9.94 / 5.5;
  border-radius: 3.125rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero_little-button-text {
  font-weight: 400;
}

.calendar_image-mobile {
  width: 100%;
  max-width: 100%;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(0, -50%);
}

.nav_logo-link-black {
  z-index: 3;
  width: 5.1875rem;
  height: 1.875rem;
  position: fixed;
  top: .75rem;
  bottom: auto;
  left: 1.875rem;
  right: auto;
}

.nav_logo-link-black.is-black {
  filter: invert();
  width: 5.1875rem;
  height: 1.875rem;
  position: static;
}

.avdeev_h2-copy {
  min-width: 31.25rem;
  margin-bottom: 1rem;
  font-size: 2.375rem;
  line-height: 2.125rem;
  display: none;
}

.nav_semicolon-span {
  margin-left: -3px;
  margin-right: -3px;
}

.hero_semicolon-span {
  margin-left: -.4375rem;
  margin-right: -.4375rem;
}

.link {
  display: inline-flex;
}

.hero_h1-wrapper-copy {
  color: var(--white);
  text-align: center;
  letter-spacing: -.06em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4.375rem;
  font-size: 8.4375rem;
  font-weight: 700;
  line-height: 6.75rem;
  display: none;
}

.hero_h1-second-line-copy {
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}

.hero_h1-image-copy {
  z-index: 1;
  width: 8%;
  position: relative;
  transform: translate(10%, 5%)scale(3);
}

.find-out_image-copy {
  object-fit: contain;
  border-radius: 18px 18px 0 0;
  align-self: flex-start;
  box-shadow: 0 9px 42px -3px rgba(0, 0, 0, .15);
}

.hero_text-white-3-copy {
  color: var(--white);
  text-align: center;
}

.hero_text-white-3-copy.text-style-35 {
  margin-bottom: 5rem;
  display: none;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
}

.calendar_span-date {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.hero_button-copy.button.is-small {
  letter-spacing: 0;
  background-image: linear-gradient(#1c3ed2 100%, #fff), linear-gradient(#4164fd 100%, #fff);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-family: alshauss;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1rem;
  text-decoration: none;
  display: flex;
}

.hero_little-button-text-copy {
  font-weight: 400;
}

.hero_button-copy.button {
  margin-bottom: 1.875rem;
}

.hero_button-copy.button.is-small {
  letter-spacing: 0;
  background-image: linear-gradient(#1c3ed2 100%, #fff), linear-gradient(#4164fd 100%, #fff);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: .875rem;
  line-height: 1rem;
  text-decoration: none;
  display: flex;
}

.hero_little-button-text-copy {
  font-family: Als H;
  font-weight: 400;
}

.success-message-copy {
  z-index: 2;
  background-color: var(--white);
  border-radius: 3.125rem;
  width: 28.125rem;
  max-width: 100%;
  min-height: 21.5rem;
  padding: 1.875rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form-wrapper-copy {
  background-color: var(--white);
  background-color: var(--white);
  border-radius: 3.125rem;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  max-width: 28.125rem;
  margin-bottom: 0;
  padding: 1.875rem;
  display: flex;
  position: relative;
}

.success-message-copy {
  z-index: 2;
  background-color: var(--white);
  border-radius: 3.125rem;
  width: 28.125rem;
  max-width: 100%;
  height: 21.5rem;
  min-height: 21.5rem;
  padding: 1.875rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.success_wrapper-copy {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.form_link-telegram-copy.button {
  background-color: #e5e5e5;
  background-image: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 24.375rem;
  max-height: 5.625rem;
  margin-bottom: 0;
  padding: 1.6875rem 1rem;
  text-decoration: none;
  display: flex;
}

.form_title-description-wrap {
  margin-bottom: 1.25rem;
}

.section_consultation {
  justify-content: center;
  align-items: center;
  display: flex;
}

.consultation_form-wrap {
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.form_radio-button-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.5rem;
  display: flex;
}

.form_radio-button {
  color: var(--taupe-gray);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  transition: all .3s;
  display: flex;
}

.form_radio-cirle {
  border-width: .0625rem;
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .25rem;
  display: block;
}

.form_radio-cirle.w--redirected-checked {
  background-color: var(--black);
  border-style: none;
  width: 1rem;
  height: 1rem;
}

.form_radio-cirle.w--redirected-focus {
  box-shadow: none;
}

.form_radio-name {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.form_field-wrap {
  margin-bottom: 1.5rem;
}

.form_link-button.button {
  background-color: #e5e5e5;
  background-image: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 24.375rem;
  min-height: 5.625rem;
  max-height: 5.625rem;
  margin-bottom: 0;
  padding: 1.6875rem 1rem;
  text-decoration: none;
  display: flex;
}

.form_link-button.button.is-first {
  min-height: 5.625rem;
  margin-bottom: .75rem;
}

.div-block-5, .form_link-buttons-wrap {
  width: 100%;
}

.code-embed-2 {
  display: block;
}

.body-3 {
  height: 100vh;
  overflow: hidden;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image {
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.image-2 {
  object-fit: cover;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-3 {
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-6 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-4 {
  object-fit: cover;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wrap {
  display: block;
}

.code-embed-3 {
  display: none;
}

@media screen and (max-width: 991px) {
  .button {
    padding: 3rem 7rem;
  }

  .page-wrapper.is-consultation {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_hero {
    min-height: 0;
    padding-bottom: 6rem;
  }

  .hero_background-block {
    min-width: 100vh;
    min-height: 100vh;
  }

  .about_text-top.text-style-35 {
    margin-bottom: 1rem;
  }

  .about_h2 {
    margin-bottom: 1rem;
    font-size: 5rem;
    line-height: 4.3rem;
  }

  .created_h2 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .created_swiper-company-name {
    margin-bottom: -.3125rem;
  }

  .created_button-prev {
    overflow: auto;
    transform: rotate(180deg);
  }

  .calendar_button.button:focus {
    outline-offset: 0px;
    outline: 3px #fff;
  }

  .calendar_content {
    padding-bottom: 3rem;
  }

  .hero_h1-wrapper {
    font-size: 6rem;
    line-height: 5rem;
  }

  .hero_h1-third-line {
    transform: none;
  }

  .after_video-container {
    border-radius: 1.875rem;
  }

  .hero_h1-wrapper-copy {
    font-size: 6rem;
    line-height: 5rem;
  }

  .hero_button-copy.button.is-small {
    font-family: alshauss;
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .button {
    padding: 2.0625rem 6.4375rem;
    font-size: 1.5625rem;
    line-height: 1.8125rem;
  }

  .hero_top10-link {
    width: 5.75rem;
  }

  .hero_text-white-3.text-style-35 {
    margin-bottom: 4.375rem;
  }

  .hero_button.button {
    margin-bottom: 1rem;
  }

  .hero_button.button.is-small {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 27px;
    display: flex;
  }

  .intensive_columns {
    grid-template-columns: 1fr 1fr;
  }

  .hero_background-image {
    object-fit: cover;
  }

  .section_about {
    margin-bottom: 3.125rem;
  }

  .about_h2 {
    font-size: 3.5rem;
    line-height: 3.125rem;
  }

  .section_find-out {
    margin-bottom: 5.9375rem;
  }

  .find-out_h2 {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .find-out_grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .find-out_description {
    max-width: 24.125rem;
  }

  .find-out_image {
    display: block;
    overflow: hidden;
  }

  .find-out_grid-big-horizontal {
    flex-flow: column;
    display: flex;
  }

  .section_after {
    margin-bottom: 6.25rem;
  }

  .after_h2 {
    font-size: 3.2rem;
    line-height: 3rem;
  }

  .after_text.text-style-32 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .created_h2 {
    font-size: 4.0625rem;
    line-height: 3.25rem;
  }

  .created_swiper-buttons {
    display: none;
  }

  .section_avdeev {
    margin-bottom: 15rem;
  }

  .avdeev_container.container {
    grid-template-columns: 1fr;
  }

  .avdeev_h2 {
    min-width: 0;
    display: none;
  }

  .avdeev_photo {
    transform: none;
  }

  .calendar_image {
    top: 5%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .calendar_h2 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .calendar_content {
    padding-top: 18rem;
    padding-bottom: 1.75rem;
  }

  .footer_container.container {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .footer_links {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .hero_h1-wrapper {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 5rem;
    line-height: 4rem;
  }

  .hero_h1-second-line {
    flex-flow: wrap;
  }

  .hero_h1-image {
    width: 10%;
  }

  .form-wrapper.is-consultation {
    margin-top: 0;
  }

  .form_description {
    white-space: pre-wrap;
  }

  .success_wrapper {
    justify-content: space-between;
    align-items: stretch;
  }

  .success-message {
    width: 100%;
  }

  .form_link-telegram.button {
    min-width: 100%;
    max-width: 0;
  }

  .modal {
    align-items: center;
  }

  .modal_container {
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .calendar_image-mobile {
    top: 5%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .avdeev_h2-copy {
    min-width: 0;
    display: block;
  }

  .hero_h1-wrapper-copy {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 5rem;
    line-height: 4rem;
  }

  .hero_h1-second-line-copy {
    flex-flow: wrap;
  }

  .hero_h1-image-copy {
    width: 10%;
  }

  .find-out_image-copy {
    display: block;
    overflow: hidden;
  }

  .hero_text-white-3-copy.text-style-35 {
    margin-bottom: 4.375rem;
  }

  .calendar_span-date {
    margin-left: -.625rem;
    margin-right: -.625rem;
  }

  .hero_button-copy.button {
    margin-bottom: 1rem;
  }

  .hero_button-copy.button.is-small {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 27px;
    display: flex;
  }

  .success-message-copy {
    width: 100%;
  }

  .success_wrapper-copy {
    justify-content: space-between;
    align-items: stretch;
  }

  .form_link-telegram-copy.button, .form_link-button.button {
    min-width: 100%;
    max-width: 0;
  }
}

@media screen and (max-width: 479px) {
  .text-style-35 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  .button {
    width: 100%;
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
  }

  .colors {
    flex-flow: wrap;
  }

  .nav {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    justify-content: center;
  }

  .hero_text-white-3.text-style-35 {
    max-width: 260px;
    display: none;
  }

  .hero_button.button.is-small {
    justify-content: center;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    display: flex;
  }

  .intensive_h2 {
    font-size: 2.625rem;
    line-height: 2.5rem;
  }

  .intensive_columns {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .intensive_column {
    flex-flow: column;
    align-items: center;
    display: flex;
  }

  .intensive_column.is-first, .intensive_column.is-second, .intensive_column.is-third {
    grid-column-gap: .8rem;
    grid-row-gap: .8rem;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
  }

  .intensive_column-image {
    width: 6.25rem;
    height: 6.25rem;
    transform: translate(0, -15%);
  }

  .intensive_column-h3 {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5625rem;
  }

  .intensive_column-text {
    text-align: left;
  }

  .hero_background-block {
    min-width: 100vh;
    min-height: 100vh;
  }

  .about_span-text {
    background-size: contain;
    padding-bottom: .7rem;
  }

  .after_h2 {
    white-space: normal;
    word-break: normal;
    flex-flow: column;
    margin-bottom: 2rem;
    font-size: 2.1rem;
    line-height: 2.1rem;
  }

  .after_text.text-style-32 {
    margin-bottom: 1rem;
  }

  .created_h2 {
    font-size: 2.625rem;
    line-height: 2.5rem;
  }

  .created_swiper-wrapper.swiper-wrapper {
    padding-bottom: 0;
  }

  .section_avdeev {
    margin-bottom: 10rem;
  }

  .avdeev_h2 {
    display: none;
  }

  .calendar_image {
    opacity: 1;
    display: none;
    overflow: visible;
    transform: translate(0, -50%);
  }

  .calendar_h2 {
    font-size: 4.5rem;
  }

  .calendar_text.text-style-32 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .nav_text-and-button {
    justify-content: center;
  }

  .hero_h1-wrapper {
    font-size: 3.6rem;
    line-height: 3rem;
    display: none;
  }

  .hero_h1-image {
    width: 12%;
    transform: translate(10%)scale(3);
  }

  .form-wrapper {
    align-items: stretch;
    max-width: 100%;
    margin-top: -9.375rem;
  }

  .form-wrapper.is-consultation {
    z-index: 3;
    min-height: 25rem;
  }

  .form_title {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }

  .form_title.is-consultation {
    max-width: 15.625rem;
  }

  .form_button.button {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .success_wrapper {
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }

  .modal_container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .modal_icon-close {
    top: -4rem;
    right: 1rem;
  }

  .hero_little-icon {
    top: 2px;
    overflow: hidden;
  }

  .calendar_image-mobile {
    display: block;
    overflow: visible;
    transform: translate(0, -50%);
  }

  .hero_semicolon-span {
    margin-left: -.1875rem;
    margin-right: -.1875rem;
  }

  .hero_h1-wrapper-copy {
    font-size: 3.6rem;
    line-height: 3rem;
    display: block;
  }

  .text-block-3 {
    white-space: nowrap;
  }

  .hero_h1-image-copy {
    width: 12%;
    transform: translate(10%)scale(3);
  }

  .hero_h1-mobile-second-line {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .hero_text-white-3-copy.text-style-35 {
    max-width: 260px;
    display: block;
  }

  .hero_button-copy.button.is-small {
    justify-content: center;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
    display: flex;
  }

  .success-message-copy {
    min-height: 20rem;
  }

  .form-wrapper-copy {
    align-items: stretch;
    max-width: 100%;
    margin-top: -9.375rem;
  }

  .success_wrapper-copy {
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }

  .div-block-4 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
  }

  .section_consultation {
    justify-content: center;
    align-items: center;
  }

  .consultation_form-wrap {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .form_radio-name {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

#w-node-e78cded4-d3e5-033f-09cf-b4151a2c301b-1f01ea5f {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-f84649dc-8dea-9602-1cb8-33b7f1f9819a-1f01ea5f {
  grid-area: span 1 / span 2 / span 1 / span 2;
  align-self: stretch;
}

#w-node-_175e7a0c-bd23-8363-d840-2931bfd2edac-1f01ea5f {
  align-self: end;
}


@font-face {
  font-family: 'ALS Hauss';
  src: url('../fonts/als_hauss_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ALS Hauss';
  src: url('../fonts/als_hauss_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ALS Hauss';
  src: url('../fonts/als_hauss_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}